/* Styling the HTML tags*/
body{
    background: #b3b3b3;
    margin: 4%;
    
}
header{
    background: #666666;
    text-align: center;
    padding: 10px;
 }
 

nav{
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}
nav a{
    background-color:#FFFFFF;
    display: inline-block;
    width:20%;
    border: none;
    text-decoration: unset;
    margin: 10px;

}
a{
    color:#6c9213;
}
.half{
    width: 45%;
    display: inline;
    float:left;
    margin-left: 2%;
}

h1{
    color: #FFFFFF;
    font-size: 150%;
}
h3{
    color: #FFFFFF;
    background-color: #6c9213;
    text-align: center;
}
#h3-left{
    text-align: left;
}
.whole{
    clear: both;
    margin-left: 2%;
}
img{
    display: none;
}
details{
    font-style: italic;
}
summary{
    font-style: normal;
}
footer{
    background:#666666;
    clear: both;

}
header , footer{
    background: #666666;
    background:-webkit-linear-gradient(#666666 0%,#928730);
 }

ul{
    list-style-type:disc;

}
